* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
}

.main-panel {
    display: flex;
    gap: 50px;
}

.buttons-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons-panel button {
    padding: 15px 30px;
    border-left: none;
    border-top: none;
    border-right: 4px solid gray;
    border-bottom: 4px solid gray;
    background-color: lightgray;
    font-weight: bold;
}

#rgb {
    box-shadow: 2px 4px 16px rgba(9 249 127);
}

.dimension-control {
    margin-bottom: 30px;
}

.dimension-control button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

p {
    margin-bottom: 10px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    gap: 0;
}

h1 {
    margin-bottom: 50px;
}