* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(34, 40, 49, 1) 0%, rgba(57, 62, 70, 1) 48%, rgba(148, 137, 121, 1) 100%);
}

button {
    background-color: #393E46;
    font-weight: bold;
    color: #DFD0B8;
}

.main-panel {
    display: flex;
    gap: 50px;
}

.buttons-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons-panel button {
    padding: 15px 30px;
    border-left: none;
    border-top: none;
    border-right: 4px solid #24262b;
    border-bottom: 4px solid #24262b;
}

#rgb {
    box-shadow: 2px 4px 16px rgba(9 249 127);
}

.dimension-control {
    margin-bottom: 30px;
}

.dimension-control button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DFD0B8;
}

p {
    margin-bottom: 10px;
    color: #948979;
}

label {
    color: #DFD0B8;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #393E46;
}

h1 {
    margin-bottom: 50px;
    color: #DFD0B8;
}